@charset "UTF-8";
/* CSS Document */
*{ padding:0; margin:0;}
body{ font-size:12px; background:#fff; font-family:"微软雅黑";overflow-y: scroll;}
li{ list-style:none;}
a{ display:inline-block;}
img{ border:0px;}
a{text-decoration:none;}
a:focus{outline:none; text-decoration:none;}
a:hover{outline:none;text-decoration:none;}
.clear{ clear:both; height:1px; font-size:1px; line-height:1px;}
/*顶部开始*/
.headpiece{ width:100%; background:#f5f5f5; height:34px;}
.headpiece-in{ width:1190px; height:35px; margin:0 auto;overflow: hidden;}
.headpiece-in span.left{ line-height:35px; color:#999999; float:left;}
.headpiece-in span.right{ float:right; color:#999999; line-height:35px;position: relative;}
.headpiece-in span a{ text-decoration:none; color:#666;padding: 0 8px;}
.headpiece-in span .hyzx{ text-decoration:none; }
.headpiece-in span .wsc_box{display:inline-block;}
.headpiece-in span .wsc{position: relative;display:inline-block;padding-left:29px;}
.headpiece-in span .wsc:hover{background: #fff;}
.headpiece-in span .wsc em{width:24px;height:21px;background: url(/xtfsq/themes/images/wx.png?timestamp=2015090216) no-repeat;background-size: 100%; display: inline-block; position: absolute;top:50%;left:6px;margin-top: -12.5px;}
.headpiece-in span.left .dl{ color:#f72323;}
.headpiece-in span.left .zc{ color:#333333;}
.headpiece-in span.left .zc:hover{ color:#f72323;}
.headpiece-in span a:hover{ text-decoration:none; color:#f72323;}
.wxbox { width:130px; height: 150px;padding:2px 4px 0; background: #fff;border: 1px solid #e7e7e9;color: #333 !important; border-top: none;position: absolute; top: 14px;right: 0px;z-index: 2;display: none;}
.wxbox .left {width: 144px;float: left;margin: 28px 0 0 25px;}
.wxbox .left span { width: 100%;float: left;line-height: 25px;}
.wxbox .sao img {width: 37px;height: 37px; float: left; margin: 0 15px 10px 0;}
.wxbox .left span {width: 100%; float: left; line-height: 25px;}
.wxbox .right {width: 293px;float: right;margin-top: 0; padding: 0;}
.wxbox .right li {width: 120px;height:155px;margin-left: 15px;margin-top:5px;float: left; position: relative;}
.wxbox .right li img { width: 120px; height: 120px;}
.wxbox .right span {width: 100%;text-align: center;position: absolute; left:0; bottom:10px;}
/*顶部结束*/

/*头部开始*/
.header{ width:100%;min-width: 1190px; height:110px; font-family:"微软雅黑"; background: #fff;}
.header-in{ width:1190px; background:#fff; height:110px; margin:0 auto; position:relative;}
.logo{ float:left; width:200px; height:110px;}
.logo img{ border:none;}
.search{float:left; height:45px; margin-top:35px; position:relative;}
.search .cfd{color:#666666; margin:0 10px 0 30px; display:inline-block; float:left;  padding:0 10px; height:43px;width: 115px;position: relative;/*  margin-top:-10px; */}
.search .cfd div{ font-family:"微软雅黑"; color: #777777;}
.search .cfd div.cfdz{z-index:12;text-align: center; position: absolute;top:25px; left:20px; font-size:13px;}
.search .cfd div b span{color: #f72323;}
.cfdz a{ color:#666;}
.cfdz a:hover{ color:#f72323;}
/*.search .cfd em{ width:12px; height:14px; background:url(/xtfsq/themes/images/header_tb.png?timestamp=2015090216) no-repeat 0 0; display:inline-block; position:absolute; left:15px; top:0px;}
*/.search-in{background-color: #ffffff;height:42px;position: relative;width:560px; float:left; border:1px solid #f72323;vertical-align:middle;box-sizing: border-box;-moz-border-radius:4px;-webkit-border-radius: 4px;border-radius:4px;}
.qhcfd{ width:10px; height:10px;margin-left: 4px; display:inline-block; background:url(/xtfsq/themes/images/header_cfdxl.png?timestamp=2015090216) no-repeat -20px 0px; vertical-align:middle;}
.qhcfd2{ background:url(/xtfsq/themes/images/header_cfdxl.png?timestamp=2015090216) no-repeat -51px 0px;}
.xl_search{background-color: #f5f5f5;border-right: 1px solid #e6e6e6;color: #777;width: 90px; text-align:center; height:40px; line-height:40px; display:inline-block;vertical-align: middle; float:left;cursor: pointer; font-size:14px;-moz-border-radius: 4px 0 0 4px;-webkit-border-radius: 4px 0 0 4px;border-radius:4px 0 0 4px;}
.xl_search span{position: absolute;left: 66px;top: 18px;width: 12px;height: 8px;display: block;}
.S_selectList{display: none;position: absolute;left: 0;top: 37px;z-index: 3;margin-top: -2px;}
.S_selectList ul li{width: 86px;height: 34px;font: 12px/34px "Microsoft YaHei", SimSun;color: #999;text-indent: 15px;background: #fff;border-bottom: 1px #ececec solid;cursor: pointer;}
.search_text{background-color:#fff;color: #999;height:40px;line-height: 40px; width:360px; border:none;vertical-align: middle; float:left;outline:none; margin-left:8px;}
.search_button{color: #fff;font-size: 16px;height:40px;line-height: 40px;text-align: center;width: 97px;vertical-align: middle;background:#f72323;text-decoration:none;position: absolute;top: 0;right: 0;}
.ewm{height:54px;width:164px; position:absolute; top:50%; margin-top: -27px;right:48px;}
.ewm a:hover{color: #f72323;}
.xzcfd{cursor:pointer; position:absolute; z-index:5; top:42px; left:18px; background:#fff; border:1px solid #e1e1e1;text-align:center; line-height:30px; display:none; padding:5px 10px;-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.1);-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.1);box-shadow:0px 3px 5px rgba(0,0,0,0.1); width:276px;}
.xzcfd li{ margin:5px 10px; float:left;}
.xzcfd li a:hover{ color:#f72323 !important;}
.change_tab{cursor:pointer;line-height:26px;z-index: 11;position: absolute;top:0;left:18px;border:1px solid #fff; height: 43px; text-align: center;box-sizing: border-box;}
.change_tabh{cursor:pointer;background: #fff;border:1px solid #e1e1e1;border-bottom: none;}
/*头部结束*/
/*导航开始*/
.navigation{ width:100%; height:43px; font-size:16px; font-family:"微软雅黑"; color:#fff; border-bottom:2px solid #f72323; background:#fff;}
.navigation-in{ width:1190px; height:45px; margin:0 auto;box-sizing: border-box;}
.xllb{  height:45px; float:left; position:relative; line-height:45px;box-sizing:border-box;}
.mddh{background:#f72323;width:200px; text-align:center; -moz-border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;border-radius:4px 4px 0 0;}
.xllb-mb{ width:200px; background:#252221;height:460px; position:absolute; top:45px; left:0;box-sizing: border-box;}
.xllb-mb li.xllb-mbfl{box-sizing: border-box;border-bottom:1px solid #e1e1e1;  overflow: hidden;padding-bottom:15px;}
.xllb_zbybt{margin-left:20px;}
.xllb-mb li.xllb-mbfl span{ font-size:18px; font-weight:normal;vertical-align: middle; width:83px; display:inline-block;font-family: "微软雅黑";0}
.xllb-mb li.xllb-mbfl em{display:inline-block; margin-right:12px;vertical-align: middle;}
.xllb-mb li.xllb-mbfl em.rmmddtb{width:16px; height:19px; background:url(/xtfsq/themes/images/header_tb.png?timestamp=2015090216) no-repeat 0 -20px;}
.xllb-mb li.xllb-mbfl em.zbytb{width:23px; height:23px; background:url(../images/header_tb.png) no-repeat -2px -43px;}
.xllb-mb li.xllb-mbfl em.gnytb{width:23px; height:23px; background:url(../images/header_tb.png) no-repeat -23px -17px;}
.xllb-mb li.xllb-mbfl em.cjytb{width:23px; height:23px; background:url(../images/header_tb.png) no-repeat -26px -41px;}
.xllb-mb li.current em.rmmddtb{background:url(/xtfsq/themes/default/images/header_tb2.png?timestamp=2015090216) no-repeat 0 -20px;}
.xllb-mb li.current em.zbytb{background:url(../images/header_tb2.png) no-repeat -2px -43px;}
.xllb-mb li.current em.gnytb{background:url(../images/header_tb2.png) no-repeat -23px -17px;}
.xllb-mb li.current em.cjytb{background:url(../images/header_tb2.png) no-repeat -26px -41px;}
.xllb-mb li i{ display:inline-block; width:5px; height:10px; background:url(/xtfsq/themes/images/header_tb.png?timestamp=2015090216) no-repeat -30px 0px; margin-left:33px;}
.xllb-mb li.xllb-mbfl ul li{ line-height:25px; float:left; font-size:14px;cursor:pointer; padding-right:15px;}
.xllb-mb li.xllb-mbfl ul li:hover{ color:#f72323 !important;}
.xllb-mb li.xllb-mbfl ul{ margin-left:20px;overflow:hidden;}
.xllb-mb li:last-child dt{ width:60px; height: 30px !important;}

.fl li{ float:left;}
.fl li a{font-size:20px; font-family:"微软雅黑"; color:#333333; line-height:45px; text-decoration:none; display:inline-block; height:45px; padding:0 28px;border-radius: 4px 4px 0 0;}
.fl li a:hover{ color:#f72323;}
.fl li.current a{ color:#fff;background: #f72323;}
.fl li#sy.current a{color: #333;background: #fff;height:43px;}
.xllb-mbzk{ position:absolute; width:750px; margin-top:15px;background:#fff;top:0px; left:200px; z-index:3;cursor: default;display:none;   color:#000; -webkit-box-shadow:5px 4px 5px rgba(0,0,0,0.22);-moz-box-shadow:5px 4px 5px rgba(0,0,0,0.22);box-shadow:7px 4px 5px rgba(0,0,0,0.22);background: url(../index_files/banner_ditu.jpg?timestamp=2015090216) no-repeat; background-position:right bottom; background-color:#fff;min-height:428px;}

.xllb_dy{ float:left; width:70px; padding-left:30px; font-size:16px; color:#333; margin-top:4px;line-height: 35px;}
.xllb_diqu { float:left; width:610px; font-size:14px;  margin-top:10px;}
.xllb_diqu a{ float:left; padding:0 8px; color:#666; line-height:26px; }
.xllb_diqu a:hover{color:#f72323; }
.xllb_zby{ margin-left:30px;}
/*导航结束*/

/*底部开始*/
.footer{ width:100%;background: #333;border-top: 1px solid #000; padding:10px 0;}
.footer-in{ width:100%; margin:0 auto; line-height:24px; background-color:#333;}
.beian{ color:#fff; margin:0 auto;text-align: center;width: 1190px;}
.beian a{ color:#fff; text-decoration:none;}
.beian a:hover { color:#e1e1e1; text-decoration:none;}
.wlaq{ margin:0 auto; text-align:center;}
.wlaq span{ display:inline-block; overflow:hidden; margin:0 20px; padding-top:20px;}
.wlaq i{float: left; margin-right: 8px;width: 40px; height:40px;}
.wlaq em{ font-style: normal; line-height:20px; display:inline-block;}
.wlaq a{ color:#666666;}
.ppbz{ height:85px; width:1190px; background:url(/xtfsq/themes/images/footer_bz.jpg?timestamp=2015090216) no-repeat; clear:both;}
.footer-top{width: 100%;margin:0 auto;background: #333333; border-bottom:1px solid #444;}
.footer-wxbox{width: 1190px;margin: 0 auto;}
.footer-wxbox img{display: inline-block; float: left;}
.footer-box{ height:70px; line-height:70px; color:#fff; font-size:16px;}
.footer-box dl{float: left; font-family:"微软雅黑" !important;}
.footer-box dl dt{font-weight: bold;font-size: 14px;width: 100%;}
.footer-box dl dd{ float:left; padding-right:60px;}
.footer-box dl dd a{color: #fff;text-decoration: none;}
.footer-box dl dd a:hover{color: #e1e1e1;text-decoration: none;}
.footer-wx{width: 122px;margin-right:40px;display: inline-block;}
.telbottom{ float:right; margin-top:18px;}


/*低部结束*/
.sidebar{width:50px;height:304px;background:#e6e6e6;position:fixed;right:0;top:65%;margin-top:-152px; z-index: 10;-moz-border-radius:4px 0px 0px 4px;-webkit-border-radius:4px 0px 0px 4px;border-radius:4px 0px 0px 4px;}
.sidebar li{ border-bottom:1px solid #fff; text-align:center; font-size:14px;}
.sidebar li a{ width:50px; height:60px; display:block;color:#333333;}
.sidebar li a:hover{display:block;color:#fff;background-color:#f72323}
.wsc{ position:relative;}
.wsc a span{width:19px;height:16px;background:url(/index_files/sider.png) no-repeat 0 0px;background-size:100%;display:inline-block; margin-top:10px;}
.wsc a:hover span{width:19px;height:16px;background:url(/index_files/siderhover.png) no-repeat 0 0px;background-size:100%;display:inline-block;}

.dd a span{width:19px;height:22px;background:url(/index_files/sider.png) no-repeat 0 -18px;background-size:100%;display:inline-block; margin-top:10px;}
.dd a:hover span{width:19px;height:22px;background:url(/index_files/siderhover.png) no-repeat 0 -18px;background-size:100%;display:inline-block;}
.sc a span{width:19px;height:18px;background:url(/index_files/sider.png) no-repeat 0 -40px;background-size:100%;display:inline-block; margin-top:10px;}
.sc a:hover span{width:19px;height:18px;background:url(/index_files/siderhover.png) no-repeat 0 -40px;background-size:100%;display:inline-block;}
.kf a span{width:19px;height:22px;background:url(/index_files/sider.png) no-repeat 0 -60px;background-size:100%;display:inline-block; margin-top:8px;}
.kf a:hover span{width:19px;height:22px;background:url(/index_files/siderhover.png) no-repeat 0 -60px;background-size:100%;display:inline-block;}
.db a span{width:19px;height:6px;background:url(/index_files/sider.png) no-repeat 3px -84px;background-size:100%;display:inline-block; margin-top:15px;}
.db a:hover span{width:19px;height:6px;background:url(/index_files/siderhover.png) no-repeat 3px -84px;background-size:100%;display:inline-block;}
.chat-tips {border: 1px solid #ddd;position: absolute;right: 60px;top: 0px;background-color: #ffffff;display: none; -moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius:4px;}
.wsc:hover .chat-tips {display: block;}
img{border:none;outline:none;}
.hy{min-height:250px; width:500px; padding-bottom: 10px ; float:right; background:#FFF; border-radius:4px; position:relative;}
.hy .login input{ width:253px; height:30px; border:1px solid #e1e1e1; margin-bottom:15px; padding-left:5px; font-size:12px; color:#000; line-height:30px; margin-left:8px;}
.hy .login input.verification{ width:165px; float:left; }
.hy .login input.current{border:1px solid #a2a2a2;}
.hy .login ul li{text-align:center;color: #666666;}
.hy .login ul li:frist{text-align:center}
.hy .login b{ font-size:14px; margin-right: 60px;}
.hy h3{height:40px; border-bottom:1px solid #e1e1e1; line-height:40px; padding-left:15px; margin-bottom:25px; font-size:16px; font-weight:normal;}
#cancle{position:absolute; background:#fff;  right:10px; top:12px; height:14px; width:14px; display:inline-block; font-style:normal; cursor:pointer; background: url(/xtfsq/themes/images/cancle.png?timestamp=2015090216) no-repeat;}
button.three{ height:37px; width:298px; background:#f72323; font-size:16px; text-align:center; line-height:37px; color:#FFF; overflow:hidden; cursor:pointer; border:none;}
.verify{border-radius:3px; background:#ddd; width:83px; float:left; text-align: center; margin-left:4px; text-align:center; line-height:32px; cursor:pointer;}
.verify img{ float: left; }
.yzm{border-radius:3px; background:#ddd; width:83px; float:left;margin-left:4px; text-align:center; line-height:32px; cursor:pointer;}

.hy .login .wjmm a{display:inline-block;color:#666666;text-decoration:none;width:78px;height:24px;line-height:24px;border-radius:2px;margin-top:20px;font-size:14px;margin-left:56px;}
.hy .kszc a{display:inline-block;color:#666666;text-decoration:none;width:78px;height:24px;line-height:24px;border-radius:2px;margin-top:20px;font-size:14px;margin-left:105px;}
.hy .login span a:hover{color:#f72323;}

.wjmm ul{ margin-top:20px;}
.wjmm ul li{ margin:15px 0; color:#666666;}
.wjmm ul li input{height:30px; padding-left:5px;border: 1px solid #e1e1e1; color: #333333; width:253px; margin-left:7px;}
.wjmm ul li span{ height:35px; width:75px; line-height:35px; text-align:center; display:inline-block; color:#fff; background:#ff4646; margin-left:68px; cursor:pointer;}
.wjmm li em{ height:30px; line-height:30px; width:80px; text-align:center; text-indent:0em;display:inline-block; color:#666666; background:#eaeaea; font-style:normal; margin-left:10px; cursor:pointer; border-radius:2px; text-align:center;}
.wjmm li a{margin-left:75px; color:#666666; text-decoration:none;width:78px;height:24px;line-height:24px;font-size:14px;}
.wjmm li a:hover{color:#f72323;}
.wjmm div a{display:inline-block;border:1px solid #e1e1e1;color:#666666;text-decoration:none;width:65px;height:24px;line-height:24px;border-radius:2px;margin-top:20px;font-size:14px;margin-left:68px;}
.wjmm div a:hover{color:#f72323;}

.toast-container{position:fixed;bottom:80px;z-index:9999;width:100%;top: 45%;}
.toast-message{width:270px;padding:20px 5px;margin:5px auto;font-size:14px;color:#fff;text-align:center;border-radius:8px;background:rgb(0,0,0.8);background: rgba(0,0,0,0.8);  /*支持rgba的浏览器*/filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9f000000,endColorstr=#9f000000);    /*IE8支持*/}
.clear{ clear:both}

