.bdsharebuttonbox {
	float: right;
}

.bdshare_popup_bottom {
	display: none
}

.hh-calendar .days li .selected span {
	color: #fff !important;
}

.fixed_top {
	position: fixed;
	top: 0px;
	z-index: 9;
}

.price {
	margin-left: 20px;
	color: #e30214;
	font-size: 12px;
	width: 499px;
}

#cpmd {
	padding-right: 40px;
}

#bcxy {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
	padding: 20px 40px;
	background-color: #fff
}

#bcxy table {
	margin-top: 8px;
	background-color: #e5e3df
}

#bcxy tr {
	height: 36px;
}

#bcxy td {
	line-height: 22px;
}

.bcxylb {
	background-color: #fff
}

.bcxylb td {
	padding-left: 5px;
}

#bcxy b {
	color: #333;
	font-size: 16px;
	position: relative;
	padding-left: 15px;
}

#bcxy em {
	width: 3px;
	height: 16px;
	display: inline-block;
	background: #f72323;
	position: absolute;
	top: 4px;
	left: 0;
}

#bcxy h3 {
	margin-bottom: 10px;
}

.bxgm input {
	width: 16px !important;
	height: 16px !important;
	vertical-align: middle;
	margin-right: 4px;
}

img {
	max-width: 100%;
} /*产品详情图片处理*/

/*验证码登录*/
.yzmdl ul li {
	margin-top: 10px;
	padding-left: 120px;
}

.yzmdl ul li input {
	height: 28px;
}
.tc {
	min-height: 0rem;
	width: 20rem;
	padding: 10px;
	float: right;
	background: #FFF;
	border-radius: 4px;
	position: relative;
}

.tc em {
	position: absolute;
	background: #fff;
	right: 10px;
	top: 12px;
	height: 14px;
	width: 14px;
	display: inline-block;
	font-style: normal;
	cursor: pointer;
	background: url(/xtfsq/themes/images/cancle.png) no-repeat;
}

.tc p {
	width: 90%; /* position:absolute;left:50%;margin-left: -40%; */
	margin: .5rem auto;
	font-size: 16px;
	text-align: center;
}

/*弹出框*/
.tck {
	width: 70%;
	width: 280px;
	height: auto;
	z-index: 9999;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -140px;
	margin-top: -100px;
	display: none;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #fff;
	color: #333;
	padding: 0px;
}

.tck .row {
	border-top: 1px solid #eee;
	width: 100%;
	margin: 0px;
	background: #fff;
	padding: 3px 0px 3px;
}

.tck .row div {
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.tck .row div:first-child {
	border-right: 1px solid #eee;
}

.tck span {
	padding: 15px;
	display: inline-block;
}

.col-xs-6 {
	width: 50%;
	float: left;
}