<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.reception.ReceptionMapper">
	
	<insert id="getRegister" parameterType="pojo.User">
		insert into user(phone,pwd) VALUES(#{phone},#{pwd});
	</insert>
	
	<select id="getphoneName" resultType="int">
		select COUNT(id) from user
		<trim prefix="where" prefixOverrides="and | or">
			<if test="phone != null">
				phone = #{phone}
			</if>
		</trim>
	</select>
	
	<select id="first" resultType="pojo.Level">
		select * from `level` WHERE type =1
			<if test="parentId != null">
				and parentId = #{parentId}
			</if>
		
	</select>
	
	<select id="second" resultType="pojo.Level">
		SELECT * FROM `level` WHERE type =2 AND parentId=1
		<trim prefix="where" prefixOverrides="and | or">
			
		</trim>
	</select>
	
	<select id="getPrice" resultType="pojo.Dictionarydate" parameterType="pojo.Dictionarydate">
		SELECT * FROM dictionarydate WHERE typeCode='price'
	</select>
	
	<select id="getStar" resultType="pojo.Dictionarydate" parameterType="pojo.Dictionarydate">
		SELECT * from dictionarydate WHERE typeCode='star'
	</select>
	
	<select id="getImages" resultType="pojo.Hotel">
		SELECT hotelId,hotelName,hotelPrice,fileUrl from hotel order by hotelRatings desc limit 0,7
	</select>

</mapper>